/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }



  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  /* Root / Variáveis */

  :root {
    --header-height: 4.5rem;

    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);

    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --title-font: "Poppins", sans-serif;
    --body-font: "DM Sans", sans-serif;
  }

  /* Base */

  html {
    scroll-behavior: smooth;
  }

  body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background-color: #e4d7cc;
    -webkit-font-smoothing: antialiased;
  }

  .title {
    font: 700 1.875rem var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
  }

  .button {
    background-color: #DDD0C8;
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
  }
  .icon-instagram {
    padding-right: 10px
  }
  .button:hover {
    background-color: white;
    color: black;
  }

  .divider-1 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 36%, 57%, 1),
      hsla(var(--hue), 65%, 88%, 0.34)
    );
  }

  .divider-2 {
    height: 1px;
    background: linear-gradient(
      270deg,
      hsla(var(--hue), 65%, 88%, 0.34),
      hsla(var(--hue), 36%, 57%, 1)
    );
  }

  /* Layout */

  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 3rem;

  }

  .flexrow img{
    display: flex;
    width: 23vw !important;
  }

  .flexrow{
    display: flex;
  }
  @media (min-width: 1200px) {
    .grid {
      display: grid;
      gap: 20rem;
    }
    .flexrow{
      display: flex;
      width: 100% ;
    }
    .flexrow img{
      width: 50% !important ;
    }


  }


  .section {
    padding: calc(5rem + var(--header-height)) 0;
  }

  .section .title {
    margin-bottom: 1rem;
  }

  .section .subtitle {
    font-size: var(--subtitle-font-size);
  }

  .section header {
    margin-bottom: 4rem;
  }

  .section header strong {
    color: var(--base-color);
  }

  #header {
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    z-index: 3;
    background-color: #e4d7cc;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Logo */

  .logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
  }

  .logo span {
    color: #faf0e6;
  }

  .logo-alt span {
    color: var(--body-color);
  }

  /* Navigation */

  nav {
    /* altura: 72px / 16px = 4.5 --- conversão de pixel p/ unidade relativa/responsiva (rem) */
    /* 16px é o padrão do browser / root: font-size 100% */
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  nav ul li {
    text-align: center;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
  }

  nav ul li a {
    transition: color 0.2s;
    position: relative;
    top: 0;
  }
  .ig-icon{
    border-left: 2px solid black;
    padding-left: 10px;
  }

  nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -1rem;
    transition: width 0.2s;
  }

  nav ul li a:hover::after,
  nav ul li a.active::after {
    width: 100%;
  }

  nav .menu ul {
    display: none;
  }


  nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
  }

  nav.show .menu ul {
    display: grid;
  }

  nav.show ul.grid {
    gap: 4rem;
  }

  /* Toggle Menu */

  .toggle {
    color: #323232;
    font-size: 1.5rem;
    cursor: pointer;
  }

  nav .icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: 0.2s;
  }

  nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
  }

  /* Home */

  #home {
    overflow: hidden;
    background-image: url(./assets/images/stretch.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.63);
    background-blend-mode: overlay;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;

  }

  @keyframes slide {
    0% { background-position: 0 0; }
    50% { background-position: 50% 50%; }
  }
  #home .container {
    margin: 0;
  }

  #home .image {
    position: relative;
  }

  #home .image::before {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.363);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
  }

  #home .image img {
    position: relative;
    right: 2.93rem;
  }

  #home .image img,
  #home image::before {
    border-radius: 0.25rem;
  }

  #home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }

  #home .text h1 {
    margin-bottom: 1rem;
  }

  #home .text p {
    margin-bottom: 2rem;
  }

  /* About */

  #about {
    background: white;
  }

  #about .container {
    margin: 0;
  }

  #about .image {
    position: relative;
  }

  #about .image::before {
    content: "";
    height: 100%;
    width: 100%;
    background: #DDD0C8;
    position: absolute;
    top: -8.3%;
    z-index: 0;
  }


  li.LILOGO{
    margin: 0;
    padding: 5px 0 10px 50px;
    list-style: none;
    background-image: url(./assets/images/Fichier\ 1.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
 }

  #about .image img {
    position: relative;
  }

  #about .image img,
  #about image::before {
    border-radius: 0.25rem;
  }

  #about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  #about .text h1 {
    margin-bottom: 1rem;
  }

  #about .text p {
    margin-bottom: 2rem;
    font-size: 17px;
  }

  /* Services */

  .cards.grid {
    gap: 1.5rem;
  }

  .card {
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid white;
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
  }
  .card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }

  .card-image img{
    object-fit: cover;
    height: 100%;
    transition: transform 0.3s ease;
  }
  .card a {
    color: black;
    display: block;
  }


  .card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: white;
  }

  .card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: white;
  }

  .card:hover .card-image img {
    transform: scale(1.1);
  }

  .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease;
    transition: width 0.3s ease;
    opacity: 0; /* Initially hidden */

  }


  .hover-content p {
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
  }

  .card:hover .hover-content {
    left: 0;
    opacity: 1; /* Show on hover */
    width: 100%
  }

  .card:hover .hover-content p {
    opacity: 1;
  }

  /* Testimonials */

  #testimonials {
    background: white;
  }

  #testimonials .container {
    margin-left: 0;
    margin-right: 0;
  }

  #testimonials header {
    margin-bottom: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  #testimonials blockquote {
    padding: 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
  }

  #testimonials blockquote p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
  }

  #testimonials blockquote p span {
    font: 700 2.5rem serif;
    position: absolute;
    top: -0.25;
    left: -1.875rem;
    color: var(--base-color);
  }

  #testimonials cite {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-style: normal;
  }

  #testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
  }

  /* swiper */

  .swiper-slide {
    height: auto;
    padding: 4rem 1rem;
  }

  .swiper-pagination-bullet-active {
    background: var(--base-color);
  }

  /* Contact */

  #contact .grid {
    gap: 4rem;
  }

  #contact .text p {
    margin-bottom: 2rem;
  }

  #contact .button i,
  #contact ul li i {
    font-size: 1.5rem;
    margin-right: 0.625rem;
  }

  #contact ul.grid {
    gap: 2rem;
  }

  #contact ul li {
    display: flex;
    align-items: center;
  }

  #contact ul li i {
    color: var(--base-color);
  }

  /* Footer */

  footer {
    background: #DDD0C8;
  }

  footer.section {
    padding: 4rem 0;
  }

  footer .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
  }

  footer i {
    font-size: 1.5rem;
    color: --text-color-light;
  }

  footer .social a {
    color: white;
    margin-right: 2rem;
    transition: 0.3s;
    display: inline-block;
    padding: 5px;
    padding-left: 0;
  }

  footer .social a:hover {
    transform: translateY(-8px);
  }

  /* Back to top */

  .back-to-top {
    background: var(--base-color-second);
    color: var(--base-color);
    position: fixed;
    right: 1.7rem;
    bottom: 6rem;
    padding: 0.5rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
  }
  .ig-icon {
    border-left: 2px solid black;
    padding-left: 10px;
    color: black;
}
.ig-icon a {
  color: black;
}

  .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .dropdwn {
    display: none;
    position: absolute;
    top: 50%;
    background-color: #DDD0C8;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    z-index: 99;
  }


  .title.serv:hover + .dropdwn,
  .dropdwn:hover {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .dropdwn ul{
    display: block !important;
    margin: 10px;
  }
  .dropdwn ul li{
    width: 150px;
    padding: 10px;
    text-align: left;
  }
  .dropdwn ul li a{
    color: black;
    font-size: 16px;
  }
  .servimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px ;
  }
  .servimage img {
    object-fit: contain;
    height: 100%;
    width: 50vw;
  }

  .whatsapp_float {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 35px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    transition: all .2s ease-in-out;
  }
  .whatsapp_float:hover {
    transform: scale(1.2);
  }
  .whatsapp-icon {
    margin-top: 12px;
  }

  @media (min-width: 1200px) {
    .dropdwn {
      display: none;
      position: absolute;
      top: 65%;
      background-color: #DDD0C8;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }
    #about .image::before {
      content: "";
      height: 100%;
      width: 100%;
      background: #DDD0C8;
      position: absolute;
      top: -8.3%;
      left: -33%;
      z-index: 0;
  }
    .servimage {
      display: block;
      height: auto;
    }
    .servimage img {
      width: 100%;
      height: auto;
    }
    nav ul li a::after {
      background: white;
     }
    .container {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }

    .section {
      padding: 10rem 0;
    }
    nav ul li a:hover,
    nav ul li a.active {
      color: white;
    }

    .section header,
    #testimonials header {
      max-width: 30rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .button {
      height: 3.125rem;
    }

    /* Navegação */
    nav .menu {
      opacity: 1;
      visibility: visible;
      top: 0;
    }

    nav .menu ul {
      display: flex;
      gap: 2rem;
    }

    nav .menu ul li a.title {
      font: 400 1rem var(--body-font);
      -webkit-font-smoothing: antialiased;
    }

    nav .menu ul li a.title.active {
      font-weight: bold;
      -webkit-font-smoothing: auto;
    }

    nav .icon-menu {
      display: none;
    }

    /* Main */
    main {
      margin-top: var(--header-height);
    }

    /* Home */
    #home .container {
      grid-auto-flow: column;
      justify-content: space-between;
      margin: 0 5%;
    }

    #home .image {
      order: 1;
    }

    #home .text {
      order: 0;
      max-width: 24rem;
      text-align: center;
      margin-left: 0;
      margin-right: 4rem;
    }

    #home .image img {
      right: 0;
    }


    #header.scroll {
      background: #DDD0C8;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
      transition: background 0.2s;
    }

    #header.scroll .logo span {
      color: white;
    }

    #header.scroll .icon-menu {
      color: white;
    }

    #header.scroll nav ul li a {
      color: white;
    }

    #header.scroll nav ul li a::after {
      background: white;
    }
    #header.scroll nav ul li.ig-icon {
      border-color: white;

    }

    /* About */
    #about .container {
      margin: 0 auto;
      grid-auto-flow: column;
      max-width: 1200px;
    }

    /* Services */
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    /* Testimonials */
    #testimonials .container {
      margin-left: auto;
      margin-right: auto;
    }

    /* Contact */
    #contact .container {
      grid-auto-flow: column;
      align-items: center;
    }

    #contact .text {
      max-width: 23rem;
    }

    /* Footer */

    footer.section {
      padding: 3.75rem 0;
    }

    footer .container {
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
      max-width: 1400px
    }

    footer .logo {
      font-size: 2rem;
    }
  }

  /* Dispositivos maiores que 992px */
  @media (min-width: 992px) {
    :root {
      --title-font-size: 2.25rem;
      --subtitle-font-size: 1.125rem;
    }
  }
